<nav class="navbar navbar-dark  noPadding" id="navBar" style="background-color: coral;">
  <div class="container-fluid">
    <span class="navbar navbar-brand" style="color: white; font-size: xx-large"><a class="nav-link" [routerLink]="'/home'">BlueCool</a></span>
    <span class="navbar navbar-text" style="color: white; font-size: larger">
    </span>
    <button class="navbar-toggler hamburgerBut" type="button" (click)="openOffCanvas()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

