<div (click)="onSelected()" class="productItem row">
  <div class="col col-sm-3" style="height:100%">
    <img
      [src]="product.imageUrl"
      alt="{{product.name}}"
      class="img-fluid productImage">
  </div>
  <div class="col">
    <h5 class="mb-1">{{product.name}}</h5>
    <p *ngIf="!mobile" class="mb-1" >{{product.description | shorten: 100}}</p>
  </div>
  <div class="col col-sm-2">
    <div class="row">
      <h5>Price:</h5>
    </div>
    <div class="row">
      <h6> ${{product.price}}</h6>
    </div>
  </div>
</div>
<hr>
