
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="adminPortalWrapper">
    <form [formGroup]="newProductForm" class="productForm" style="max-width: 500px">
      <div class="form-outline" style="padding-bottom: 1rem">
        <input class="inputField form-control"
               formControlName="name" placeholder="Product Name"/>
      </div>
      <div class="form-outline" style="padding-bottom: 1rem">
        <input class="inputField form-control"
               formControlName="type" placeholder="Product Type"/>
      </div>
      <div class="form-outline" style="padding-bottom: 1rem">
        <input class="inputField form-control"
               formControlName="price" placeholder="Price"/>
      </div>
      <div class="form-outline" style="padding-bottom: 1rem">
        <input class="inputField form-control"
               formControlName="description" placeholder="Product Description"/>
      </div>
      <div class="form-outline" style="padding-bottom: 1.5rem">
        <input class="inputField form-control"
               formControlName="image" placeholder="Main Product Image"/>
        <button class="btn btn-primary" (click)="previewImage()">Preview Image</button>
      </div>
      <div class="row">
        <img  [src]="imagePath" alt="new product image">
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" [disabled]="loading || !newProductForm.valid" (click)="addProduct()">Add Product</button>
</div>
