
<div class="modal-header">
  <h4 *ngIf="!updateMode" class="modal-title">Add Product</h4>
  <h4 *ngIf="updateMode" class="modal-title">Update Product</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="adminPortalWrapper">
    <form [formGroup]="newProductForm" class="productForm" style="max-width: 500px">
      <div class="form-outline" style="padding-bottom: 1rem">
        <input class="inputField form-control"
               formControlName="name" placeholder="Product Name"/>
      </div>
      <div class="form-outline" style="padding-bottom: 1rem">
        <input class="inputField form-control"
               formControlName="type" placeholder="Product Type"/>
      </div>
      <div class="form-outline" style="padding-bottom: 1rem">
        <input class="inputField form-control"
               formControlName="price" placeholder="Price"/>
      </div>
      <div class="form-outline" style="padding-bottom: 1rem">
        <textarea class="inputField form-control"
               formControlName="description" placeholder="Product Description" style="height: 200px"></textarea>
      </div>
      <div class="form-outline" style="padding-bottom: 1.5rem">
        <input class="inputField form-control"
               formControlName="image" placeholder="Main Product Image" (input)="previewImage()"/>
      </div>
      <div class="row">
        <img *ngIf="f['image'].valid" [src]="imagePath">
        <div *ngIf="!f['image'].valid">
          <mat-icon>block</mat-icon>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button *ngIf="updateMode" type="button" class="btn btn-outline-dark" style="background-color: coral" [disabled]="loading || !newProductForm.valid" (click)="saveProduct()">Update Product</button>
  <button *ngIf="!updateMode" type="button" class="btn btn-outline-dark" style="background-color: coral" [disabled]="loading || !newProductForm.valid" (click)="saveProduct()">Save Product</button>
</div>

<app-toasts></app-toasts>
