<ul  class="productList">
  <li class="list-item" *ngFor="let type of types">

    <div class="productInfo">
      <h5>Id: {{type.id}}</h5>
      <h5>Name: {{type.name | shorten: shortenValue}}</h5>
    </div>
    <div class="col-sm-2">
      <button class="btn" (click)="editType(type)"><mat-icon>settings</mat-icon></button>
    </div>
    <div class="col-sm-2">
      <div class="imgWrapper">
        <img class="pEditImg" src="{{type.imageUrl}}" alt="{{type.name}}">
      </div>
    </div>
  </li>
</ul>
<app-toasts></app-toasts>
